body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(120deg, #ffe9ec, #e0f7ff, #fff7c2);
    height: 100vh;
    overflow: hidden;
}

.top-bar {
    background: #ffb5d8;
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#newNote {
    padding: 10px 18px;
    border: none;
    background: #ff6392;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 3px 5px #d97a94;
}

#newNote:hover {
    background: #ff3e7a;
}

.note {
    width: 230px;
    height: 240px;
    padding: 10px;
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 4px 10px #999;
    cursor: grab;
}

.note textarea {
    width: 100%;
    height: 85%;
    border: none;
    resize: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    cursor: text;
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}


